
<table class="table table-striped">

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.body %></td>
        <td><%=l blog.created_at %></td>
    </tr>
    <% end %>
  </tbody>
</table>


