// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.blog-header{
    background: #e0e0e0;
}
.blog-head{
    font-size:50px;
}
.blog-time{
    font-size:20px;
}
.bg-pink
{
  background-color: #CE6F9E;
}
